/node_modules
.env
/ui-tests/screenshots
/ui-tests/reports
api-tests/reports/api-test-report.html
/performance-tests/samples
loadresult.json
performance-tests/result/output.json
performance-tests/test_summary.json
/temp
api-tests/reports/untitled
